body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  text-align: center;
  flex: 1;
}

header, footer {
  background-color: #ff6663;
  color: white;
}

header {
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.home {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

h2 {
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  justify-content: center;
  height: 400px;
}

.carousel-item {
  flex: 0 0 auto;
  width: 280px;
  margin: 0 15px;
  text-align: center;
  scroll-snap-align: start;
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

h3 {
  margin: 10px 0 5px;
  font-size: 1.2rem;
}

p {
  margin: 5px 0;
  color: #555;
  font-size: 0.9rem;
}

.carousel-item p:last-child {
  font-weight: bold;
}

.view-more-button {
  background-color: #ff6663;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.view-more-button:hover {
  background-color: #ff4c51;
}

.footer {
  padding: 10px;
  width: 100%;
  margin-top: auto;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.social-media a:hover {
  text-decoration: underline;
}

.search-bar {
  width: 80%;
  max-width: 600px;
  padding: 10px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.filter-button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.dark-mode-toggle {
  background-color: #ff6663;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.dark-mode-toggle:hover {
  background-color: #ff4c51;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.spacer {
  margin: 100px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6663;
  padding: 10px 20px;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
}

.main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-nav li {
  margin: 0 15px;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  margin-left: 20px;
}

.menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: #ffcfce;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  color: #121212;
}

.menu.open {
  display: block;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 15px;
}

.menu li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu li a:hover {
  background-color: #ff4c51;
}
